<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>View Siswa - Siswi (<%= dataSiswa.nama %>)</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>
<body>
	<style>
		.judul{
			font-weight: bold; 
			font-size: 18px; 
			text-align: left;
			text-decoration: underline;
			padding-bottom: 5
			px;
		}
		.isi{ 
			font-size: 11px; 
			text-align: left;
		}
		.container{
			width: 100%;
			height: 100%;
		}
		/* .validate {
			background-image: url('<%= dataSiswa.url %>bahan/validate_1.png');
			background-repeat: repeat;
			background-attachment: fixed;
			opacity: 0.4;
			z-index: 100;
			background-size: 100%;
		} */
		/* .notvalidate {
			background-image: url('<%= dataSiswa.url %>bahan/notvalidate_1.png');
			background-repeat: repeat;
			background-attachment: fixed;
			opacity: 0.9;
			z-index: 100;
			background-size: 100%;
		} */
		.validate {
			background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='150px' width='150px'><text transform='translate(20, 100) rotate(-45)' fill='rgb(0,255,0)' font-size='18'>VALIDATED</text></svg>");
		}
		.notvalidate {
			background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='150px' width='150px'><text transform='translate(20, 110) rotate(-45)' fill='rgb(255,0,0)' font-size='18'>NOT VALIDATED</text></svg>");
		}
		hr{
			border: 2px double #000;
		}
		.namasekolah{
			text-align: center; 
			font-weight: bold; 
			font-size: 18px; 
			vertical-align: top;
			height: 10px;
		}
		.alamat{
			text-align: center; 
			font-size: 12px; 
			vertical-align: top;
			height: 10px;
		}
	</style>
	<div class="container">
		<table border="0" width="100%" cellspacing="0" cellpadding="0">
			<tr>
				<td width="20%" style="text-align: center; vertical-align: middle;">
					<img
						src="<%= dataSiswa.url %>bahan/<%= cmsSetup.logo %>"
						alt="Gatsa logo"
						width="80px"
						height="80px"
						style="display: inline-block;"
					/>
				</td>
				<td height="110px">
					<p class="namasekolah"><%= cmsSetup.namasekolah %></p>
					<p class="alamat">Alamat: <%= cmsSetup.alamat %> <%= cmsSetup.kelurahan.label %> <%= cmsSetup.kecamatan.label %> <%= cmsSetup.kabupatenkota.label %> <%= cmsSetup.kodepos %><br>Phone <%= cmsSetup.telepon %></p>
				</td>
			</tr>
			<tr>
				<td colspan="2"><hr></td>
			</tr>
		</table>
		<% if(dataSiswa.validasiAkun === false) { %> 
		<div class="notvalidate">
		<% }else{ %>
		<div class="validate">
		<% } %>
			<table width="100%" border="0" cellspacing="1" cellpadding="1"> 
				<tr>
					<td colspan="3" class="judul">DATA PRIBADI</td>
				</tr>
				<tr>
					<td class="isi" width="35%">NISN</td>
					<td width="2%">:</td>
					<td class="isi" width="63%"><%= dataSiswa.nomorInduk %></td>
				</tr>
				<tr>
					<td class="isi" width="35%">Nomor Induk Kewarganegaraan</td>
					<td width="2%">:</td>
					<td class="isi" width="63%"><%= dataSiswa.nikSiswa ? dataSiswa.nikSiswa : '-' %></td>
				</tr>
				<tr>
					<td class="isi" width="35%">Nama lengkap</td>
					<td width="2%">:</td>
					<td class="isi" width="63%"><%= dataSiswa.nama %></td>
				</tr>
				<tr>
					<td class="isi" width="35%">Email</td>
					<td width="2%">:</td>
					<td class="isi" width="63%"><%= dataSiswa.email %></td>
				</tr>
				<tr>
					<td class="isi" width="35%">Tempat, Tanggal Lahir</td>
					<td width="2%">:</td>
					<td class="isi" width="63%"><%= dataSiswa.tempat+', '+dataSiswa.tanggalLahir %></td>
				</tr>
				<tr>
					<td class="isi" width="35%">Jenis Kelamin</td>
					<td width="2%">:</td>
					<td class="isi" width="63%"><%= dataSiswa.jenisKelamin %></td>
				</tr>
				<tr>
					<td class="isi" width="35%">Anak Ke</td>
					<td width="2%">:</td>
					<td class="isi" width="63%"><%= dataSiswa.anakKe %></td>
				</tr>
				<tr>
					<td class="isi" width="35%">Jumlah Saudara</td>
					<td width="2%">:</td>
					<td class="isi" width="63%"><%= dataSiswa.jumlahSaudara %></td>
				</tr>
				<tr>
					<td class="isi" width="35%">Agama</td>
					<td width="2%">:</td>
					<td class="isi" width="63%"><%= dataSiswa.agama %></td>
				</tr>
				<tr>
					<td class="isi" width="35%">Hobi</td>
					<td width="2%">:</td>
					<td class="isi" width="63%"><%= dataSiswa.hobi %></td>
				</tr>
				<tr>
					<td class="isi" width="35%">Cita -Cita</td>
					<td width="2%">:</td>
					<td class="isi" width="63%"><%= dataSiswa.citaCita %></td>
				</tr>
				<tr>
					<td class="isi" width="35%">Telepon</td>
					<td width="2%">:</td>
					<td class="isi" width="63%"><%= dataSiswa.telp %></td>
				</tr>
				<tr>
					<td class="isi" width="35%" style="vertical-align: top;">Alamat</td>
					<td width="2%" style="vertical-align: top;">:</td>
					<td class="isi" width="63%" style="text-transform: uppercase"><%= dataSiswa.alamat+', '+dataSiswa.kelurahan+', '+dataSiswa.kecamatan+', '+dataSiswa.kabKota+', '+dataSiswa.provinsi+', '+dataSiswa.kodePos %></td>
				</tr>
				<tr>
					<td class="isi" width="35%">Kelas</td>
					<td width="2%">:</td>
					<td class="isi" width="63%"><%= dataSiswa.kelas ? dataSiswa.kelas : '-' %></td>
				</tr>
				<tr>
					<td class="isi" width="35%">Status Tempat Tinggal</td>
					<td width="2%">:</td>
					<td class="isi" width="63%"><%= dataSiswa.statusTempatTinggal %></td>
				</tr>
				<tr>
					<td class="isi" width="35%">Jarak Rumah</td>
					<td width="2%">:</td>
					<td class="isi" width="63%"><%= dataSiswa.jarakRumah %></td>
				</tr>
				<tr>
					<td class="isi" width="35%">Alat Transportasi</td>
					<td width="2%">:</td>
					<td class="isi" width="63%"><%= dataSiswa.transportasi %></td>
				</tr>
				<tr>
					<td colspan="3" class="judul" style="padding-top: 5px;">DATA SEKOLAH SEBELUMNYA</td>
				</tr>
				<tr>
					<td class="isi" width="35%">Jenjang Sekolah</td>
					<td width="2%">:</td>
					<td class="isi" width="63%"><%= dataSiswa.jenjang %></td>
				</tr>
				<tr>
					<td class="isi" width="35%">Status Sekolah</td>
					<td width="2%">:</td>
					<td class="isi" width="63%"><%= dataSiswa.statusSekolah %></td>
				</tr>
				<tr>
					<td class="isi" width="35%">Nama Sekolah</td>
					<td width="2%">:</td>
					<td class="isi" width="63%"><%= dataSiswa.namaSekolah %></td>
				</tr>
				<tr>
					<td class="isi" width="35%">NPSN</td>
					<td width="2%">:</td>
					<td class="isi" width="63%"><%= dataSiswa.npsn %></td>
				</tr>
				<tr>
					<td class="isi" width="35%">Alamat Sekolah</td>
					<td width="2%">:</td>
					<td class="isi" width="63%"><%= dataSiswa.alamatSekolah %></td>
				</tr>
				<tr>
					<td class="isi" width="35%">Kabupaten/Kota Lokasi Sekolah</td>
					<td width="2%">:</td>
					<td class="isi" width="63%"><%= dataSiswa.kabkotSekolah %></td>
				</tr>
				<tr>
					<td class="isi" width="35%">No Peserta UN</td>
					<td width="2%">:</td>
					<td class="isi" width="63%"><%= dataSiswa.noUN ? dataSiswa.noUN : '-' %></td>
				</tr>
				<tr>
					<td class="isi" width="35%">No SKHUN</td>
					<td width="2%">:</td>
					<td class="isi" width="63%"><%= dataSiswa.noSKHUN ? dataSiswa.noSKHUN : '-' %></td>
				</tr>
				<tr>
					<td class="isi" width="35%">No Ijazah</td>
					<td width="2%">:</td>
					<td class="isi" width="63%"><%= dataSiswa.noIjazah ? dataSiswa.noIjazah : '-' %></td>
				</tr>
				<tr>
					<td class="isi" width="35%">Total Nilai UN</td>
					<td width="2%">:</td>
					<td class="isi" width="63%"><%= dataSiswa.nilaiUN ? dataSiswa.nilaiUN : '-' %></td>
				</tr>
				<tr>
					<td colspan="3" class="judul" style="padding-top: 5px;">DATA ORANG TUA / WALI</td>
				</tr>
				<tr>
					<td class="isi" width="35%">Nomor Kartu Keluarga</td>
					<td width="2%">:</td>
					<td class="isi" width="63%"><%= dataSiswa.noKK %></td>
				</tr>
				<tr>
					<td class="isi" width="35%">Nama Kepala Keluarga</td>
					<td width="2%">:</td>
					<td class="isi" width="63%"><%= dataSiswa.namaKK %></td>
				</tr>
				<tr>
					<td class="isi" width="35%">Penghasilan</td>
					<td width="2%">:</td>
					<td class="isi" width="63%"><%= dataSiswa.penghasilan %></td>
				</tr>
				<tr>
					<td colspan="3" class="judul" style="padding-top: 5px;"><i class="fa fa-user judul"></i> DATA AYAH</td>
				</tr>
				<tr>
					<td class="isi" width="35%">Nomor Induk Kewarganegaraan</td>
					<td width="2%">:</td>
					<td class="isi" width="63%"><%= dataSiswa.nikAyah %></td>
				</tr>
				<tr>
					<td class="isi" width="35%">Nama Lengkap</td>
					<td width="2%">:</td>
					<td class="isi" width="63%"><%= dataSiswa.namaAyah %></td>
				</tr>
				<tr>
					<td class="isi" width="35%">Tahun Lahir</td>
					<td width="2%">:</td>
					<td class="isi" width="63%"><%= dataSiswa.tahunAyah %></td>
				</tr>
				<br>
				<tr>
					<td class="isi" width="35%">Status Orang Tua</td>
					<td width="2%">:</td>
					<td class="isi" width="63%"><%= dataSiswa.statusAyah %></td>
				</tr>
				<tr>
					<td class="isi" width="35%">Pendidikan</td>
					<td width="2%">:</td>
					<td class="isi" width="63%"><%= dataSiswa.pendidikanAyah %></td>
				</tr>
				<tr>
					<td class="isi" width="35%">Pekerjaan</td>
					<td width="2%">:</td>
					<td class="isi" width="63%"><%= dataSiswa.pekerjaanAyah %></td>
				</tr>
				<tr>
					<td class="isi" width="35%">No. Handphone</td>
					<td width="2%">:</td>
					<td class="isi" width="63%"><%= dataSiswa.telpAyah ? dataSiswa.telpAyah : '-' %></td>
				</tr>
				<tr>
					<td colspan="3" class="judul" style="padding-top: 5px;"><i class="fa fa-user judul"></i> DATA IBU</td>
				</tr>
				<tr>
					<td class="isi" width="35%">Nomor Induk Kewarganegaraan</td>
					<td width="2%">:</td>
					<td class="isi" width="63%"><%= dataSiswa.nikIbu %></td>
				</tr>
				<tr>
					<td class="isi" width="35%">Nama Lengkap</td>
					<td width="2%">:</td>
					<td class="isi" width="63%"><%= dataSiswa.namaIbu %></td>
				</tr>
				<tr>
					<td class="isi" width="35%">Tahun Lahir</td>
					<td width="2%">:</td>
					<td class="isi" width="63%"><%= dataSiswa.tahunIbu %></td>
				</tr>
				<tr>
					<td class="isi" width="35%">Status Orang Tua</td>
					<td width="2%">:</td>
					<td class="isi" width="63%"><%= dataSiswa.statusIbu %></td>
				</tr>
				<tr>
					<td class="isi" width="35%">Pendidikan</td>
					<td width="2%">:</td>
					<td class="isi" width="63%"><%= dataSiswa.pendidikanIbu %></td>
				</tr>
				<tr>
					<td class="isi" width="35%">Pekerjaan</td>
					<td width="2%">:</td>
					<td class="isi" width="63%"><%= dataSiswa.pekerjaanIbu %></td>
				</tr>
				<tr>
					<td class="isi" width="35%">No. Handphone</td>
					<td width="2%">:</td>
					<td class="isi" width="63%"><%= dataSiswa.telpIbu ? dataSiswa.telpIbu : '-' %></td>
				</tr>
				<tr>
					<td colspan="3" class="judul" style="padding-top: 5px;"><i class="fa fa-user judul"></i> DATA WALI</td>
				</tr>
				<tr>
					<td class="isi" width="35%">Nomor Induk Kewarganegaraan</td>
					<td width="2%">:</td>
					<td class="isi" width="63%"><%= dataSiswa.nikWali ? dataSiswa.nikWali : '-' %></td>
				</tr>
				<tr>
					<td class="isi" width="35%">Nama Lengkap</td>
					<td width="2%">:</td>
					<td class="isi" width="63%"><%= dataSiswa.namaWali ? dataSiswa.namaWali : '-' %></td>
				</tr>
				<tr>
					<td class="isi" width="35%">Tahun Lahir</td>
					<td width="2%">:</td>
					<td class="isi" width="63%"><%= dataSiswa.tahunWali ? dataSiswa.tahunWali : '-' %></td>
				</tr>
				<tr>
					<td class="isi" width="35%">Pendidikan</td>
					<td width="2%">:</td>
					<td class="isi" width="63%"><%= dataSiswa.pendidikanWali ? dataSiswa.pendidikanWali : '-' %></td>
				</tr>
				<tr>
					<td class="isi" width="35%">Pekerjaan</td>
					<td width="2%">:</td>
					<td class="isi" width="63%"><%= dataSiswa.pekerjaanWali ? dataSiswa.pekerjaanWali : '-' %></td>
				</tr>
				<tr>
					<td class="isi" width="35%">No. Handphone</td>
					<td width="2%">:</td>
					<td class="isi" width="63%"><%= dataSiswa.telpWali ?dataSiswa.telpWali : '-' %></td>
				</tr>
				<tr>
					<td colspan="3" class="judul" style="padding-top: 5px;"><i class="fa fa-file-pdf-o judul"></i> BERKAS - BERKAS</td>
				</tr>
				<tr>
					<td class="isi" width="35%">Berkas Ijazah</td>
					<td width="2%">:</td>
					<td class="isi" width="63%"><% if(dataSiswa.fcIjazah) { %> <i class="fa fa-check"></i> (Done) <% }else{ %> - <% } %> </td>
				</tr>
				<tr>
					<td class="isi" width="35%">Berkas Kartu Keluarga</td>
					<td width="2%">:</td>
					<td class="isi" width="63%"><% if(dataSiswa.fcKK) { %> <i class="fa fa-check"></i> (Done) <% }else{ %> - <% } %> </td>
				</tr>
				<tr>
					<td class="isi" width="35%">Berkas KTP Orang Tua</td>
					<td width="2%">:</td>
					<td class="isi" width="63%"><% if(dataSiswa.fcKTPOrtu) { %> <i class="fa fa-check"></i> (Done) <% }else{ %> - <% } %> </td>
				</tr>
				<tr>
					<td class="isi" width="35%">Berkas Akta Lahir</td>
					<td width="2%">:</td>
					<td class="isi" width="63%"><% if(dataSiswa.fcAktaLahir) { %> <i class="fa fa-check"></i> (Done) <% }else{ %> - <% } %> </td>
				</tr>
				<tr>
					<td class="isi" width="35%">Berkas Surat Keterangan Lahir</td>
					<td width="2%">:</td>
					<td class="isi" width="63%"><% if(dataSiswa.fcSKL) { %> <i class="fa fa-check"></i> (Done) <% }else{ %> - <% } %> </td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>