<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>View Raport Siswa - Siswi (<%= dataSiswa.nama %>)</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>
<body>
	<style>
		.judul{
			font-weight: bold; 
			font-size: 18px; 
			text-align: left;
			text-decoration: underline;
			padding-bottom: 10px;
		}
		.isi{ 
			font-size: 12px; 
			text-align: left;
		}
		.container{
			width: 100%;
			height: 100%;
			font-family: 'Times New Roman', Times, serif;
		}
		hr{
			border: 2px double #000;
		}
		/* .draft {
			background-image: url('<%= dataSiswa.url %>bahan/draft.png');
			background-repeat: repeat;
			background-attachment: fixed;
			opacity: 0.4;
			z-index: 100;
			background-size: 100%;
		} */
		.draft {
			background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='80px' width='80px'><text transform='translate(20, 80) rotate(-45)' fill='grey' font-size='18'>Draft</text></svg>");
		}
		.namasekolah{
			text-align: center; 
			font-weight: bold; 
			font-size: 18px; 
			vertical-align: top;
			height: 10px;
		}
		.alamat{
			text-align: center; 
			font-size: 12px; 
			vertical-align: top;
			height: 10px;
		}
		.kepala{
			font-size: 12px;
			text-align: center;
			font-weight: bold;
		}
		.texttitle{
			text-align: left;
			font-weight: bold;
			font-size: 10px;
		}
		.textdes{
			text-align: left;
			font-size: 10px;
		}
		.headerTable{ 
			font-size: 10px; 
			text-align: center;
			font-weight: bold;
		}
		.contentTable{ 
			font-size: 10px; 
		}
		.isiTable1{
			text-align: left;
			padding-left: 5px; 
		}
		.isiTable2{
			text-align: center;
		}
		.ttd{ 
			font-size: 10px; 
			font-weight: bold;
		}
	</style>
	<div class="container">
		<table border="0" width="100%" cellspacing="0" cellpadding="0">
			<tr>
				<td width="20%" style="text-align: center; vertical-align: middle;">
					<img
						src="<%= dataSiswa.url %>bahan/<%= cmsSetup.logo %>"
						alt="Gatsa logo"
						width="80px"
						height="80px"
						style="display: inline-block;"
					/>
				</td>
				<td height="110px">
					<p class="namasekolah"><%= cmsSetup.namasekolah %></p>
					<p class="alamat">Alamat: <%= cmsSetup.alamat %> <%= cmsSetup.kelurahan.label %> <%= cmsSetup.kecamatan.label %> <%= cmsSetup.kabupatenkota.label %> <%= cmsSetup.kodepos %><br>Phone <%= cmsSetup.telepon %></p>
				</td>
			</tr>
			<tr>
				<td colspan="2"><hr></td>
			</tr>
		</table>
		<% if(cmsSetup.pdfraport.value === 1) { %> 
		<div class="draft">
		<% }else{ %>
		<div>
		<% } %>
			<p class="kepala">
				<%= cmsSetup.jenisraport.label %><br>
				TAHUN PELAJARAN <%= cmsSetup.tahunpelajaran %>
			</p>
			<table border="0" width="100%" cellspacing="0" cellpadding="0">
				<tr>
					<td width="14%" class="texttitle">Nama Sekolah</td>
					<td width="30%" class="textdes">: <%= cmsSetup.namasekolah %></td>
					<td width="18%">&nbsp;</td>
					<td width="16%" class="texttitle">Kelas</td>
					<td width="20%" class="textdes">: <%= dataSiswa.kelas %></td>
				</tr>
				<tr>
					<td width="14%" class="texttitle">Nomor Induk</td>
					<td width="30%" class="textdes">: <%= dataSiswa.nomorInduk %></td>
					<td width="18%">&nbsp;</td>
					<td width="16%" class="texttitle">Semester</td>
					<td width="20%" class="textdes">: <%= cmsSetup.semester.label %></td>
				</tr>
				<tr>
					<td width="14%" class="texttitle">Nama Siswa/i</td>
					<td width="30%" class="textdes">: <%= dataSiswa.nama %></td>
					<td width="18%">&nbsp;</td>
					<td width="16%" class="texttitle">Tahun Pelajaran</td>
					<td width="20%" class="textdes">: <%= cmsSetup.tahunpelajaran %></td>
				</tr>
			</table>
			<table border="1" width="100%" cellspacing="0" cellpadding="0" style="margin-top: 25px; border: 1px solid #000 ;">
				<tr class="headerTable">
					<td>MATA PELAJARAN</td>
					<td>KKM</td>
					<td>NILAI ANGKA</td>
					<td>NILAI HURUF</td>
					<td>KETERANGAN</td>
					<td>KOMPETEN / TIDAK KOMPETEN</td>
				</tr>
				<% for(var i=0; i < dataSiswa.dataNilai.length; i++) { %>
					<tr class="contentTable">
						<td class="isiTable1"><%= dataSiswa.dataNilai[i].mapel %></td>
						<td class="isiTable2"><%= dataSiswa.dataNilai[i].kkm %></td>
						<td class="isiTable2"><%= dataSiswa.dataNilai[i].nilai %></td>
						<td class="isiTable2"><%= dataSiswa.dataNilai[i].hurufNilai %></td>
						<td class="isiTable2"><%= dataSiswa.dataNilai[i].pembilang %></td>
						<td class="isiTable2"><% if(dataSiswa.dataNilai[i].nilai > dataSiswa.dataNilai[i].kkm) { %> KOMPETEN <% }else{ %> TIDAK KOMPETEN <% } %> </td>
					</tr>
				<% } %>
				<tr class="contentTable">
					<td style="text-align: right; padding-right: 5px; font-weight: bold;" colspan="2">RATA - RATA NILAI</td>
					<td class="isiTable2"><b><%= dataSiswa.hasilAkhir %></b></td>
					<td class="isiTable2"><%= dataSiswa.hurufNilai %></td>
					<td class="isiTable1" colspan="2"><%= dataSiswa.pembilang %></td>
				</tr>
				<tr class="contentTable">
					<td style="text-align: right; padding-right: 5px; font-weight: bold;" colspan="2">PERINGKAT</td>
					<td class="isiTable1" colspan="4"><b><%= dataSiswa.peringkat %></b> dari total <b><%= dataSiswa.jumlahSiswa %> Siswa/i</b></td>
				</tr>
			</table>
			<table border="1" width="300px" cellspacing="0" cellpadding="0" style="margin-top: 20px; border: 1px solid #000 ;">
				<tr class="headerTable">
					<td>KEHADIRAN</td>
					<td>TOTAL</td>
				</tr>
				<tr class="contentTable">
					<td class="isiTable1">Sakit</td>
					<td class="isiTable2"><%= dataSiswa.kehadiran.sakit %></td>
				</tr>
				<tr class="contentTable">
					<td class="isiTable1">Ijin</td>
					<td class="isiTable2"><%= dataSiswa.kehadiran.ijin %></td>
				</tr>
				<tr class="contentTable">
					<td class="isiTable1">Tanpa Keterangan</td>
					<td class="isiTable2"><%= dataSiswa.kehadiran.alfa %></td>
				</tr>
			</table>
			<table border="0" width="100%" cellspacing="0" cellpadding="0" style="margin-top: 20px;">
				<tr>
					<td style="width: 50%;">
						<table border="0" width="300px" cellspacing="0" cellpadding="0" style="float: left; margin-left: 80px;">
							<tr class="ttd">
								<td style="padding-bottom: 10px;">Mengetahui,</td>
							</tr>
							<tr class="ttd">
								<td>Kepala Sekolah <%= cmsSetup.namasekolah %></td>
							</tr>
							<tr class="ttd">
								<td style="padding: 10px 0px;">
									<% if(dataSiswa.kepalaSekolah.signature !== null) { %>
										<img
											src="<%= dataSiswa.url %>image/<%= dataSiswa.kepalaSekolah.signature %>"
											alt="ttd kepala sekolah"
											width="80px"
											height="80px"
											style="display: inline-block;"
										/>
									<% } %>
								</td>
							</tr>
							<tr class="ttd">
								<td style="text-decoration: underline;"><%= dataSiswa.kepalaSekolah.nama %></td>
							</tr>
							<tr class="ttd">
								<td>NIP. <%= dataSiswa.kepalaSekolah.nomorInduk %></td>
							</tr>
						</table>
					</td>
					<td style="width: 50%;">
						<table border="0" width="300px" cellspacing="0" cellpadding="0" style="float: right;">
							<tr class="ttd">
								<td style="padding-bottom: 10px;"><%= dataSiswa.ttd.tempat %>, <%= dataSiswa.ttd.tanggal %></td>
							</tr>
							<tr class="ttd">
								<td>Wali Kelas <%= dataSiswa.kelas %></td>
							</tr>
							<tr class="ttd">
								<td style="padding: 10px 0px;">
									<% if(dataSiswa.waliKelas.signature !== null) { %>
										<img
											src="<%= dataSiswa.url %>image/<%= dataSiswa.waliKelas.signature %>"
											alt="ttd wali kelas"
											width="80px"
											height="80px"
											style="display: inline-block;"
										/>
									<% } %>
								</td>
							</tr>
							<tr class="ttd">
								<td style="text-decoration: underline;"><%= dataSiswa.waliKelas.nama %></td>
							</tr>
							<tr class="ttd">
								<td>NIP. <%= dataSiswa.waliKelas.nomorInduk %></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>